.result-map-div {
  height: 600px;
}

.result-info-div {
  text-align: left;
}

.info-div {
  height: 200px;
  text-align: center;
  margin: 15px;
}

.facts-div {
  text-align: center;
  max-height: 400px;
  margin: 15px;
}

h1 {
  font-size: 30px;
}

.result-info-div {
  text-align: left;
}

.results-card {
  border: 1px solid green;
}

.county-card {
  height: 100%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

