.col-span-1 {
  border: 1px solid black;
}

.col-span-2 {
  border: 1px solid black;
}

.col-span-3 {
  border: 1px solid black;
}

.results-div {
  border: 1px solid orange;
}

.result-map-div {
  height: 600px;
}

.result-info-div {
  text-align: left;
}

.info-div {
  border: 1px solid red;
  height: 200px;
}

.facts-div {
  text-align: center;
  border: 1px solid blue;
  max-height: 400px;
}

/* .save-favs-div {
  border: 1px solid green;
  height: 200px;
} */

h1 {
  font-size: 30px;
}

.result-info-div {
  text-align: left;
}

.pics-div {
  height: 300px;
}

.saved-div {
  height: 200px;
}

.recent-div {
  height: 200px;
}

.no-idea {
  border: 1px solid red;
}

.results-card {
  border: 1px solid green;
}

.county-card {
  border: 1px solid blue;
  height: 100%;
  text-align: center;
}

.smallMap {
  background: url(stockMapOne.jpg) no-repeat;
  background-position: center;
  height: 25vh;
}
