/* .container{
    display: block;
    margin: 0 auto;

}
.title{
    font-size: 2.5em;
    text-decoration: underline;
}
.click-btn{
    color: black;
    font-size: .75em;
    text-align: center;
    float: right;
}
.click-btn:hover{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.section-title{
    font-size: 2em;
    background-color: paleturquoise;
    margin: .5em 0;
    border-bottom: 2px solid;
}
.change-item{
    font-size: 1em;
    padding-left: .5em;
    background-color: lightcyan;
}


.deactivate{
    font-size: 1em;
    background-color: lightgray;
    margin-top: 10px;
    padding-left: .5em;
} */
.lifestyleSection{
    position: absolute;
    width: 148px;
    left: 190px;
}
.lifestyle{
    /* position: absolute;
    width: 102px;
    height: 32px;
    left: 219px;
    top: 1044px; */
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}
.options{
    /* position: absolute;
    width: 146px;
    height: 31px;
    left: 219px;
    top: 1095px; */
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    display: flex;
    align-items: center;
}