body {
  text-align: center;
}

input {
  border: 1px solid black;
}

.mapPic {
  margin: 0 auto;
  width: 80%;
}

.searchDiv {
  background-color: lightgray;
}

.searchCard {
  border: 1px solid black;
}

.buttonDiv {
  background-color: lightgray;
  text-align: center;
}

button {
  margin: 5px;
}

.sliderLeft {
  margin-right: 100px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
}

.slider:hover {
  opacity: 1;
}

.align-mid {
  text-align: center;
}
