.carousel-container {
  height: 200px;
  width: 90vw;
  border: 2px;
  border-color: rgb(238, 0, 0);
}

.outside-container {
 
}

.single-result {
  background: url(stockMapOne.jpg) no-repeat;
  background-position: center;
  height: 100vh;
}

.carousel-button-group {
  position: absolute;
  width: 100%;
}