body {
  text-align: center;
}

input {
  border: 1px solid black;
}

.mapPic {
  background: url(usMap.webp) no-repeat;
  background-position: center;
  height: 50vh;
}

.searchDiv {
  background-color: lightgray;
}

.searchCard {
  border: 1px solid black;
}

.buttonDiv {
  background-color: lightgray;
  text-align: right;
}

button {
  margin: 5px;
}

.sliderLeft {
  margin-right: 100px;
}
